/*-----------------*/
/* Utility Classes */
/*-----------------*/

%button {
    display: inline-block;
    padding: 10px 15px;
    border: solid 1px $medium-gray;
    @extend %default-border-radius;
    background-color: $medium-gray;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    @include transition (all 0.4s ease);
    
    &:hover {
        color: #fff;
    }
}

.puzzle-button {
    @extend %button;
    
    &.puzzle-button-white, &.puzzle-button-transparent:hover {
        background-color: #fff;
        border-color: #fff;
    }
    
    &.puzzle-button-black {
        background-color: #000;
        border-color: #000;
    }
    
    &.puzzle-button-transparent {
        background-color: transparent;
        border-color: #fff;
    }
}

%default-border-radius {
    border-radius: 3px;
}

%page-max-width {
    max-width: $max-width;
    margin: 0 auto;
}

// Hide text for screen readers
%screen-reader-only {
    position: absolute;
    top: auto;
    left: -100000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
