/*--------------*/
/* Page Builder */
/*--------------*/

#puzzle-page-section-options, .puzzle-pop-up-area:not(.puzzle-text-editor-area) {
    color: $body-color;
    font: 14px / 1.5 $open-sans;
    
    @import '_global/_resets';
    @import '_admin/_typography';
    @import '_admin/_forms';
    @import '_global/_media';
}

#postdivrich {
    display: none;
}

#puzzle-page-section-options {
    word-wrap: break-word;

    .puzzle-general-options-area {
        text-align: left;
    }
    
    .puzzle-collapsable-menu {
        @extend %clearfix;
        margin: 0;
        padding: 5px;
        border-bottom: solid 2px $medium-light-gray;
        background-color: $light-gray;
        text-align: center;
        
        &.collapsed-state {
            h5 {
                visibility: visible;
            }
        }
        
        .fa {
            @include transition(all 0.4s ease);
            display: block;
            width: 30px;
            height: 30px;
            color: $medium-gray;
            cursor: pointer;
        }

        .fa-chevron-down, .fa-chevron-up {
            float: left;
            font-size: 24px;
            line-height: 30px;
            
            &:hover, &:focus {
                color: $primary-color;
            }
        }
        
        h5 {
            visibility: hidden;
            float: left;
            width: calc(100% - 60px);
            margin: 0;
            padding: 0 5px;
            font-size: 16px;
            line-height: 30px;
        }

        .fa-close {
            float: left;
            border: solid 2px $medium-gray;
            border-radius: 50%;
            font-size: 20px;
            line-height: 26px;
            
            &:hover {
                border-color: transparent;
                background-color: $warning-color;
                color: #fff;
            }
        }
    }

    .puzzle-collapsable-content {
        display: none;

        &.show {
            display: block;
            padding: 10px 0;
        }
    }

    .puzzle-section {
        @extend %page-max-width;
        margin-bottom: 30px;
        background-color: $very-light-gray;
        
        h3, > p {
            text-align: center;
        }
    
        img {
            margin: 10px auto 0 auto;
        }
    }

    .puzzle-general-options-area, .puzzle-columns-area {
        padding: 10px;
        
        > .column {
            margin-bottom: 10px;
        
            .column {
                padding: 5px 10px;
            }
        }
    }
    
    .puzzle-columns-area {
        > .column {
            border: solid 1px $medium-light-gray;
        }
    }
    
    .puzzle-fixed-columns {
        > .column {
            padding: 10px 0;
        }
    }

    .puzzle-choose-section-area, .puzzle-add-column-area {
        text-align: center;
    }
    
    .puzzle-add-column-area {
        padding: 15px;
    }
}

/* Tips */
.puzzle-field-tip-button {
    @include transform(scale(1.3));
    @include transition(all 0.4s ease);
    vertical-align: middle;
    margin-left: 5px;
    color: $medium-gray;
    cursor: pointer;
    
    &:hover, &:focus {
        color: $primary-color;
    }
    
    &:active {
        color: $primary-color-dark;
    }
}

.puzzle-field-tip-content {
    display: block;
    line-height: 0;
    
    span {
        display: none;
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 3px;
        background-color: $light-gray;
        font-size: 12px;
        line-height: 1.4;
    }
}

/* Icon preview */
.puzzle-icon-preview {
    text-align: center;
    
    i {
        display: block;
        margin: 10px 0;
        font-size: 50px;
    }
}

/*
 * Color Picker
 *
 * Make sure it looks like WordPress intended it to, and not be affected by
 * out styles.
 */
.wp-picker-container {
    * {
        box-sizing: content-box !important;
    }
    
    input {
        width: auto !important;
    }
}
