/*--------------*/
/* Page Builder */
/*--------------*/

#puzzle-page-section-options, .puzzle-pop-up-area:not(.puzzle-text-editor-area) {
    color: $body-color;
    font: 14px / 1.5 $open-sans;
    
    @import '_global/_resets';
    @import '_admin/_typography';
    @import '_admin/_forms';
    @import '_global/_media';
    @import '_admin/_dropdowns';
    
    *:focus {
        @include box-shadow(none);
    }
    
    img {
        display: block;
    }
}

#postdivrich {
    display: none;
}

@include keyframes(new-section) {
    0%, 100% {
        outline: solid 0px transparent;
    }
    
    50% {
        outline: solid 5px $primary-color;
    }
}

#puzzle-page-section-options {
    word-wrap: break-word;
    
    .puzzle-section {
        @extend %page-max-width;
        
        h3 {
            text-align: center;
        }
    }
    
    .puzzle-section-content, .puzzle-columns-area .column-inner {
        &.new {
            @include animation(new-section 1s ease);
        }
    }
    
    .puzzle-section-content {
        @extend %default-border-radius;
        background-color: $very-light-gray;
    }
    
    .puzzle-general-options-area {
        text-align: left;
    }
    
    .puzzle-section-menu {
        text-align: center;
        
        .row {
            @include align-items(center);
            @include justify-content(space-between);
            padding: 5px 10px;
            
            > * {
                @include flex(0 1 auto);
                
                &:first-child {
                    margin-right: auto;
                }
            }
            
            &.puzzle-section-menu-top {
                @extend %default-border-radius;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                background-color: $light-gray;
            }
            
            &.puzzle-section-menu-title {
                cursor: pointer;
                
                &:hover, &:focus {
                    .puzzle-collapse {
                        color: $primary-color;
                    }
                }
                
                &:active {
                    .puzzle-collapse {
                        color: $primary-color-dark;
                    }
                }
            }
        }
        
        h3, h4 {
            margin: 0;
            text-align: left;
        }
        
        a {
            display: block;
            width: 30px;
            height: 30px;
            color: $medium-gray;
            font-size: 30px;
            line-height: 30px;
            cursor: pointer;
            @include transition(all 0.4s ease);
            
            &:hover, &:focus {
                color: $primary-color;
            }
            
            &:active {
                color: $primary-color-dark;
            }
        }
        
        .puzzle-collapse, .puzzle-collapse-all {
            font-size: 30px;
        }
        
        .puzzle-collapse {
            i:before {
                content: '\33'; // Elegant Icon, arrow-caret-down
            }
        }
    
        .puzzle-collapse-all {
            position: relative;
            z-index: 1;
        
            i:before {
                content: '\37'; // Elegant Icon, arrow-caret-2down
            }
        }
        
        .puzzle-remove-section {
            &:hover, &:focus {
                color: $alert-color;
            }
            
            &:active {
                color: $alert-color-dark;
            }
        }
        
        &.show {
            .puzzle-collapse {
                i:before {
                    content: '\32'; // Elegant Icon, arrow-caret-up
                }
            }
        }
        
        &.show-all {
            .puzzle-collapse-all {
                position: relative;
                z-index: 1;
        
                i:before {
                    content: '\36'; // Elegant Icon, arrow-caret-2up
                }
            }
        }
    }
    
    .puzzle-collapsable-content {
        display: none;
        padding: 10px 0;
    }

    .puzzle-general-options-area, .puzzle-columns-area {
        padding: 10px;
    }
    
    .puzzle-general-options-area .column,
    .puzzle-columns-area .column .column {
        padding: 5px 10px;
    }
    
    .puzzle-columns-area {
        .column-inner {
            width: calc(100% - 10px);
            margin: 5px;
            padding: 0;
            @extend %default-border-radius;
            background-color: #fff;
            @include box-shadow(0 0 3px rgba(#000, 0.1));
        }
    }
    
    .puzzle-add-column-area {
        padding: 15px;
        text-align: center;
    }
    
    /* Add section buttons */
    .puzzle-add-section {
        position: relative;
        padding: 10px 0;
        text-align: center;
    }

    .puzzle-add-section-open-buttons {
        display: inline-block;
        font-size: 30px;
        line-height: 1;
    }

    .puzzle-add-section-buttons {
        position: absolute;
        right: -45%;
        bottom: calc(100% - 5px);
        left: 50%;
        padding: 10px;
        @extend %default-border-radius;
        background-color: rgba($dark-gray, 0.95);
        @include transform(translate(-50%, 0));
        @include transition(all 0.4s ease);
        visibility: hidden;
        opacity: 0;
    
        h4 {
            color: #fff;
        }
        
        &:after {
            position: absolute;
            top: 100%;
            left: 50%;
            display: block;
            width: 0;
            height: 0;
            border-top: 7px solid $dark-gray;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            content: ' ';
            @include transform(translate(-50%, 0));
        }
        
        &.show {
            visibility: visible;
            opacity: 1;
        }
    }
    
    .puzzle-image-container {
        position: relative;
        margin: 2px 0 5px;
        border: solid 1px $medium-light-gray;
        background-color: $medium-light-gray;
        
        img[src=''] {
            display: block;
            height: 100px;
            opacity: 0;
            visibility: hidden;
        }
    }
    
    .puzzle-add-image-button, .puzzle-remove-image-button {
        position: absolute;
        
        span {
            @extend %screen-reader-only;
        }
    }
    
    .puzzle-add-image-button {
        top: 50%;
        left: 50%;
        color: rgba(#fff, 0.85);
        font-size: 30px;
        text-shadow: 0 0 2px rgba(#000, 0.5);
        @include transform(translate(-50%, -50%));
        
        &:hover, &:focus, &:active {
            color: #fff;
        }
    }
    
    img[src=''] {
        ~ .puzzle-add-image-button {
            color: $medium-gray;
            text-shadow: none;
            @include box-shadow(none);
        
            &:hover, &:focus {
                color: $primary-color;
            }
            
            &:active {
                color: $primary-color-dark;
            }
        }
        
        ~ .puzzle-remove-image-button {
            display: none;
        }
    }
    
    .puzzle-remove-image-button {
        top: 0;
        right: 0;
        color: $medium-gray;
        font-size: 20px;
        line-height: 20px;
        @include transform(translate(50%, -50%));
        
        &:hover, &:focus {
            color: $alert-color;
        }
        
        &:active {
            color: $alert-color-dark;
        }
    }
}

/* Tips */
.puzzle-field-tip-button {
    @include transform(scale(1.3));
    @include transition(all 0.4s ease);
    vertical-align: middle;
    margin-left: 5px;
    color: $medium-gray;
    cursor: pointer;
    
    &:hover, &:focus {
        color: $primary-color;
    }
    
    &:active {
        color: $primary-color-dark;
    }
}

.puzzle-field-tip-content {
    display: block;
    line-height: 0;
    
    span {
        display: none;
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 3px;
        background-color: $light-gray;
        font-size: 12px;
        line-height: 1.4;
    }
}

/* Icon preview */
.puzzle-icon-preview {
    text-align: center;
    
    i {
        display: block;
        margin: 10px 0;
        font-size: 50px;
    }
}

/*
 * Color Picker
 *
 * Make sure it looks like WordPress intended it to, and not be affected by
 * our styles.
 */
.wp-picker-container {
    * {
        box-sizing: content-box !important;
    }
    
    input {
        width: auto !important;
    }
}
