/*--------*/
/* Popups */
/*--------*/

.puzzle-icon-library {
    text-align: center;

    input.puzzle-icon-library-search {
        display: block;
        max-width: 400px;
        height: 46px;
        margin: ($space-unit / 2) auto;
        padding: 10px 20px;
        font-size: 16px;
    }
    
    .puzzle-icon-library-inner hr {
        margin: 50px 0;
    }
}

.puzzle-icon-library-inner {
    max-height: calc(100% - 60px);
    overflow-y: scroll;
    padding: 30px;
    background-color: #fff;
}

.puzzle-icon-choices-container {
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(center);
    
    button.puzzle-icon-choice {
        @include flex(0 0 100px);
        max-width: 100px;
        margin: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 0;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.33;
        word-wrap: break-word;
        
        i {
            display: block;
            margin-bottom: 8px;
            font-size: 35px;
        }
    }
}

#puzzle_icon_library, #puzzle_shortcode_forms {
    margin: 0;
    background: transparent;
    border: 0;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    
    > *:not(.inside) {
        display: none;
    }
    
    .inside {
        margin: 0;
        padding: 0;
    }
}
    
.puzzle-pop-up-area {
    position: fixed;
    z-index: 10000; /* z-index of sidebar is 9999 */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    display: none;
    overflow-y: scroll;
    width: 100%;
    padding: 100px 10%;
    background-color: rgba(#000, 0.5);
    
    &.show {
        display: block;
    }
    
    .puzzle-insert-shortcode-inner {
        max-width: 300px;
        margin: 0 auto;
        padding: 30px;
        background-color: #fff;
    }
}

.puzzle-pop-up-controls {
    @import '_global/_resets';
    @import '_admin/_forms';
    
    text-align: center;
    
    button.puzzle-button {
        margin: 10px;
        font-size: 18px;
        
        i {
            margin-left: 5px;
        }
    }
}
