/*------------*/
/* Accordions */
/*------------*/

.#{$prefix}accordions-content {
    padding: ($space-unit / 2) 0;
    
    > .column {
        margin-top: 1rem;
        padding: 0 ($space-unit / 2);
        
        &:first-child {
            margin-top: 0;
        }
    }
    
    .column-inner {
        padding: ($space-unit / 4) ($space-unit / 3);
        @extend %default-border-radius;
        background-color: rgba(#fff, 0.5);
        @include transition(all 0.4s ease);
        
        &:hover, &:active, &.#{$prefix}active-accordion {
            background-color: #fff;
        }
        
        &.#{$prefix}active-accordion {
            .#{$prefix}accordion-headline {
                .fa:before {
                    content: '\f056';
                }
            }
        }
    }
    
    .#{$prefix}accordion-headline {
        @include display-flex;
        @include align-items(center);
        margin: 0;
        cursor: pointer;
        
        span {
            display: block;
            @include flex(1 1 100%);
        }
    
        .fa {
            @include flex(0 0 auto);
            font-size: 4rem;
            @include transition(all 0.4s ease);
            
            &:before {
                content: '\f055';
            }
        }
    }
    
    .#{$prefix}accordion-content {
        display: none;
        padding: 1rem 0;
    }
}

.#{$prefix}white-background .#{$prefix}accordions-content .column-inner {
    background-color: $light-gray;
    background-color: rgba($light-gray, 0.5);
    
    &:hover, &:active, &.#{$prefix}active-accordion {
        background-color: $light-gray;
    }
}
