/*----------*/
/* Carousel */
/*----------*/

.puzzle-carousel {
    padding: 0;
    
    > .row {
        max-width: 100%;
    }
    
    .puzzle-carousel-slide {
        @include display-flex;
        @include align-items(center);
        @include justify-content(center);
        height: 400px;
        padding-top: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
        &.puzzle-align-carousel-slide-left {
            text-align: left;
        }
    
        &.puzzle-align-carousel-slide-right {
            text-align: right;
        }
    
        &.puzzle-align-carousel-slide-center {
            text-align: center;
        }
        
        .row {
            position: relative;
            @include flex(0 1 100%);
        }
    }
    
    .puzzle-carousel-slide-inner {
        @include flex(0 1 100%);
        padding: 0 30px;
    }
    
    .puzzle-carousel-text-white {
        color: #fff;
    }
        
    .puzzle-carousel-text-black {
        color: #000;
    }
    
    @include breakpoint($size-md) {
        .puzzle-carousel-slide {
            height: 600px;
            
            &.puzzle-align-carousel-slide-left {
                .row {
                    @include justify-content(flex-start);
                }
            }
            
            &.puzzle-align-carousel-slide-right {
                .row {
                    @include justify-content(flex-end);
                }
            }
            
            &.puzzle-align-carousel-slide-center {
                .row {
                    @include justify-content(center);
                }
            }
        }
        
        .puzzle-carousel-slide-inner {
            @include flex-basis(75%);
            width: 75%;
            padding: 0 50px;
        }
    }
    
    @include breakpoint($size-lg) {
        .puzzle-carousel-slide-inner {
            @include flex-basis(60%);
            width: 60%;
        }
    }
    
    @include breakpoint($size-xl) {
        .puzzle-carousel-slide-inner {
            @include flex-basis(50%);
            width: 50%;
        }
    }
}

/* Owl Carousel styling */

.owl-theme {
    .owl-controls {
        margin: 0;
        
        .owl-pagination {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
        }
        
        .owl-page span {
            width: 30px;
            height: 15px;
            border: solid 1px rgba(#fff, 0.75);
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            filter: Alpha(Opacity=100);
            opacity: 1;
            @include transition(all 0.4s ease);
        }
        
        .owl-buttons div {
            @include transition(all 0.4s ease);
            display: none;
            position: absolute;
            top: 45%;
            margin: 0;
            background: transparent;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            font-size: 50px;
            filter: Alpha(Opacity=70);
            opacity: 0.7;
    
            &:hover {
                filter: Alpha(Opacity=100);
                opacity: 1;
            }

            &.owl-prev {
                left: 0;
            }

            &.owl-next {
                right: 0;
            }
    
            i {
                cursor: pointer;
            }
            
            @include breakpoint($size-md) {
                display: block;
            }
        }
    }
}
