/*----------*/
/* Features */
/*----------*/

.#{$prefix}features {
    .#{$prefix}icon-link, .#{$prefix}main-icon {
        display: block;
        width: 6rem;
        height: 6rem;
        margin: 0 auto ($space-unit / 3) auto;
    }
    
    .#{$prefix}main-icon {
        font-size: 5rem;
        line-height: 6rem;
        text-align: center;
        @include transition(all 0.4s ease);
    }
    
    .#{$prefix}icon-link {
        text-decoration: none;
    }
    
    .#{$prefix}icon-column, .#{$prefix}icon-row .#{$prefix}feature-column-content > h3:first-child {
        text-align: center;
    }
    
    .#{$prefix}icon-column {
        .column-inner {
            @include display-flex;
            @include flex-direction(column);
            @include align-items(center);
            padding-bottom: $space-unit / 2;
            
            > * {
                @include flex(0 1 auto);
            }
            
            .#{$prefix}feature-column-content {
                @include flex-grow(1);
                width: 100%;
            }
            
            ul {
                margin-left: 0;
                padding: 0 $text-space-unit;
                list-style: none;
        
                li {
                    padding: $text-space-unit 0;
                    border-top: solid 1px $medium-gray;
                
                    &:first-child {
                        border-top: 0;
                    }
                }
            }
        
            ol {
                text-align: left;
            }
        }
    
        .#{$prefix}feature-main-button {
            width: 80%;
            margin-top: $space-unit;
        }
    }
}

.#{$prefix}features-content {
    @include justify-content(center);
}

@include breakpoint($size-sm) {
    .#{$prefix}features {
        .#{$prefix}icon-row {
            .column-inner {
                @include display-flex;
            }
            
            .#{$prefix}main-icon, .#{$prefix}icon-link {
                @include flex(0 0 #{$space-unit * 2});
            }
    
            .#{$prefix}feature-column-content {
                @include flex(1 1 100%);
                
                > h3:first-child {
                    text-align: left;
                }
            }
        }
    }
}
