/*----------*/
/* Sections */
/*----------*/

.#{$prefix}section-headline {
    text-align: center;
}

/*
 * The sections
 */

.#{$prefix}features-content, .#{$prefix}team-members-content {
    > .column {
        @include display-flex;
        @include flex-wrap(wrap);
    }
    
    .column-inner {
        @include flex(1 1 calc(100% - #{$space-unit / 6}));
        min-width: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        
        @include breakpoint($size-md) {
            @include flex-basis(calc(100% - #{$space-unit / 2}));
        }
    }
}